Repository nicolasmarie1/pcvs: changes, and which pre-commit hooks are due for each by the changed paths.
All: typos, flake8, mypy, pylint

Path conditions:
  typos: any of: not ((?x)
  ^pcvs/webview/static/.*), but not: (?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$

  flake8: any of: \.py$ and not ((?x)
  .tox|
  build) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)
  mypy: any of: \.py$ and not ((?x)
  .tox|
  build|
  examples|
  tests|
  utils|
  docs|
  git\.py|
  yaml_converter\.py|
  ui/textual/report/__init__\.py) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)
  pylint: any of: \.py$ and not ((?x)
  .tox|
  examples|
  build|
  docs/source/conf\.py) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)

fix(variants): fix variants
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

fix(publisher): fix publisher failing to check for existing tests
  pcvs/orchestration/manager.py
  pcvs/orchestration/publishers.py
Due: typos, flake8, mypy, pylint

fix(logger): move console logger from rich to builtin logging
  pcvs/io.py
Due: typos, flake8, mypy, pylint

fix(scheduler): fix err_dep jobs scheduling
  pcvs/orchestration/manager.py
Due: typos, flake8, mypy, pylint

fix(publisher): add more debug to duplicated test log.
  pcvs/orchestration/publishers.py
Due: typos, flake8, mypy, pylint

fix(sheduler): fix error message on stuck scheduling
  pcvs/orchestration/__init__.py
  pcvs/orchestration/manager.py
Due: typos, flake8, mypy, pylint

fix(pcvs check): fix pcvs check command
  pcvs/testing/testfile.py
  tests/pcvs/backend/test_run.py
Due: typos, flake8, mypy, pylint

chore(docs): add PCVS logo to the generated sphinx
  docs/source/conf.py
Due: typos, flake8

chore: add classifiers for PyPI
  pyproject.toml
Due: typos

chore: rewrite the README (#11)
  README.md
  docs/source/_static/pcvs_logo.png
Due: typos

Add maintainers to pyproject.toml
  pyproject.toml
Due: typos

add log to ci
  .gitlab/ci/run.yml
Due: typos

try to make ci work
  .gitlab/ci/ci.yml
  .gitlab/ci/run.yml
Due: typos

Add release date to changelog
  CHANGELOG.md
Due: typos

fix: correct the pyproject classifiers
  pyproject.toml
Due: typos

chore: fix gh flavored alerts in README
  README.md
Due: typos

Fix cache issue leading ci fail
  .gitlab/ci/ci.yml
Due: typos

feat(variants): add compiler variants support for Makefile build
  pcvs/backend/run.py
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

feat(test): add cmake sub_build_dir option
  pcvs/schemes/generated/group-scheme.yml
  pcvs/schemes/generated/te-scheme.yml
  pcvs/schemes/te-scheme.yml
  pcvs/testing/tedesc.py
  pcvs/testing/test.py
Due: typos, flake8, mypy, pylint

docs(config): add documentation for criterion series
  docs/source/ref/config.rst
Due: typos

fix(config): fix default runtime config entries
  pcvs/config/runtime/example.yml
  pcvs/config/runtime/mpi.yml
  pcvs/config/runtime/mpi_omp.yml
  pcvs/config/runtime/mpi_omp_slurm.yml
  pcvs/config/runtime/mpi_slurm.yml
  pcvs/config/runtime/omp.yml
Due: typos

remove fix TODOs
  pcvs/backend/utilities.py
  pcvs/helpers/criterion.py
  pcvs/orchestration/__init__.py
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

feat(jobs): make build jobs can now be booleans
  pcvs/schemes/generated/group-scheme.yml
  pcvs/schemes/generated/machine-scheme.yml
  pcvs/schemes/generated/te-scheme.yml
  pcvs/schemes/machine-scheme.yml
  pcvs/schemes/te-scheme.yml
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

feat(debug): add cleanup to delete debug file
  pcvs/io.py
Due: typos, flake8, mypy, pylint

fix(typo): fix inherit typo
  CHANGELOG.md
  pcvs/backend/configfile.py
  pcvs/config/group/common.yml
  pcvs/schemes/generated/group-scheme.yml
  pcvs/schemes/generated/te-scheme.yml
  pcvs/schemes/te-scheme.yml
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

Add profile update script
  utils/profile_1_0.sh
Due: typos

deploy: 274273e2a01957d47acc9d3804355e8d1a3048a8
  _modules/pcvs/backend/configfile.html
  _modules/pcvs/io.html
  _sources/ref/config.rst.txt
  api/pcvs.backend.configfile.html
  api/pcvs.backend.session.html
  api/pcvs.helpers.utils.html
  api/pcvs.helpers.validation.html
  api/pcvs.html
  api/pcvs.io.html
  genindex.html
  objects.inv
  ref/config.html
  searchindex.js
Due: typos

chore: fix documentation based on feedback
  docs/source/examples/te-format.yml
  docs/source/ref/config.rst
Due: typos

fix(README): add a fallback to the PCVS logo
  README.md
Due: typos

chore: fix minor typos in the in-code documentation
  pcvs/backend/configfile.py
  pcvs/helpers/storage.py
Due: typos, flake8, mypy, pylint

chore: fix typos in the documentation
  docs/source/basics/tuto.rst
Due: typos

docs(features) Remove outdated configuration
  docs/source/basics/features.rst
Due: typos

add release todo list
  utils/release_todo_list.md
Due: typos

docs(tuto): fix/improve tutorial documentation
  docs/source/basics/tuto.rst
  docs/source/ref/config.rst
Due: typos

Add 1.1 changelog and up version to 1.1
  CHANGELOG.md
  version.txt
Due: typos

fix(config): Improve bad configurations rejection
  pcvs/backend/configfile.py
  pcvs/cli/cli_config.py
Due: typos, flake8, mypy, pylint

docs(config): Update config doc according to 1.0 changes
  docs/source/ref/config.rst
  docs/source/ref/test-file.rst
Due: typos

docs(tuto): update basic-use before merge
  docs/source/basics/basic-use.rst
  docs/source/basics/tuto.rst
  docs/source/basics/workflow.rst
  docs/source/index.rst
Due: typos
