Repository nicolasmarie1/pcvs: changes, and which pre-commit hooks are due for each by the changed paths.
All: typos, flake8, mypy, pylint

Path conditions:
  typos: any of: not ((?x)
  ^pcvs/webview/static/.*), but not: (?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$

  flake8: any of: \.py$ and not ((?x)
  .tox|
  build) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)
  mypy: any of: \.py$ and not ((?x)
  .tox|
  build|
  examples|
  tests|
  utils|
  docs|
  git\.py|
  yaml_converter\.py|
  ui/textual/report/__init__\.py) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)
  pylint: any of: \.py$ and not ((?x)
  .tox|
  examples|
  build|
  docs/source/conf\.py) and not ((?x)
  ^.*\.min\.js$|
  ^.*\.min\.css$|
  ^.*\.svg$
)

deploy: 1e51a8ba11acfbd1c155e873227cf4f90fee9cc9
  _modules/index.html
  _modules/pcvs/analysis/graph.html
  _modules/pcvs/main.html
  api/modules.html
  api/pcvs.analysis.graph.html
  api/pcvs.analysis.html
  api/pcvs.cli.cli_graph.html
  api/pcvs.html
  api/pcvs.main.html
  api/pcvs.ui.textual.report.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: typos

fix(doc): fix github actions doc build
  .github/workflows/sphinx.yml
  docs/requirements.txt
  pyproject.toml
  version.txt
Due: typos

fix(typing): fix typing issues raised with typeguard
  pcvs/backend/session.py
  pcvs/cli/cli_convert.py
  pcvs/helpers/git.py
  pcvs/io.py
Due: typos, flake8, mypy, pylint

fix(inti): fix version detection for ci
  pcvs/main.py
Due: typos, flake8, mypy, pylint

fix(cli): remove help string to support old click
  pcvs/cli/cli_bank.py
  pcvs/cli/cli_report.py
  pcvs/io.py
Due: typos, flake8, mypy, pylint

fix(dep): fies dependency issues on ci
  .pre-commit-config.yaml
  pcvs/cli/cli_plumbing.py
  pcvs/converter/yaml_converter.py
  pcvs/dsl/__init__.py
  pcvs/helpers/criterion.py
  pcvs/helpers/utils.py
  pcvs/io.py
  pcvs/main.py
  pcvs/orchestration/manager.py
  pcvs/plugins/__init__.py
  pcvs/testing/tedesc.py
  pyproject.toml
Due: typos, flake8, mypy, pylint

ci: remove tests that the ci cannot run.
  .gitlab-ci.yml
Due: typos

fix(bank): fix test json serialization.
  pcvs/testing/test.py
Due: typos, flake8, mypy, pylint

fix(git): fix typing issues.
  pcvs/helpers/git.py
Due: typos, flake8, pylint

fix(ci): modify to work with python12
  .gitlab-ci.yml
  .pre-commit-config.yaml
  utils/setup_pcvs_env
Due: typos

refactor gitlab ci
  .gitlab-ci.yml
  utils/setup_ci_env
Due: typos

Fix type in change log.
  CHANGELOG.md
Due: typos

fix(ci)
  .gitlab-ci.yml
Due: typos

move gitlab ci to .gitlab folder
  .gitlab/ci/ci-disabled.yml
  .gitlab/ci/ci.yml
Due: typos

Re-add .gitlab-ci.yml with pipeline depending ci status
  .gitlab-ci.yml
Due: typos

Setup ci to use python 3.10, 3.11, 3.12 & 3.13.
  .gitlab/ci/ci.yml
  .gitlab/ci/run.yml
  utils/setup_ci_env
Due: typos

fix(report): fix typing issues in report
  pcvs/cli/cli_report.py
  pcvs/ui/textual/report/__init__.py
  pcvs/ui/textual/report/model.py
Due: typos, flake8, mypy, pylint

fix(bank): fix typing issues in banks and graphs
  pcvs/analysis/__init__.py
  pcvs/analysis/graph.py
  pcvs/cli/cli_graph.py
  pcvs/dsl/__init__.py
Due: typos, flake8, mypy, pylint

docs(bank): document banks
  docs/source/index.rst
  docs/source/ref/bank.rst
  docs/source/ref/test-file.rst
Due: typos

fix(session): fix sessions cli
  pcvs/cli/cli_session.py
Due: typos, flake8, mypy, pylint

fix(typing): fix typing for profile export
  pcvs/cli/cli_config.py
Due: typos, flake8, mypy, pylint

docs(profile): rewrite profile doc
  docs/source/basics/getting-started.rst
  docs/source/index.rst
  docs/source/ref/config.rst
  docs/source/ref/profile.rst
Due: typos

bump version to 1.0
  version.txt
Due: typos

docs(config/bank): fix typos.
  docs/source/ref/bank.rst
  docs/source/ref/config.rst
Due: typos

refactor(io): Make errors messages easier to read
  pcvs/backend/run.py
  pcvs/cli/cli_run.py
  pcvs/cli/cli_utilities.py
  pcvs/helpers/exceptions.py
  pcvs/helpers/utils.py
  pcvs/helpers/validation.py
  pcvs/io.py
  pcvs/main.py
  pcvs/orchestration/__init__.py
  pcvs/testing/testfile.py
Due: typos, flake8, mypy, pylint

fix typos in Program error message
  pcvs/helpers/exceptions.py
Due: typos, flake8, mypy, pylint

Up pygit2 version to enable support for python13
  pyproject.toml
  utils/setup_ci_env
Due: typos

fix(orchestrator): fix job count status
  pcvs/orchestration/manager.py
Due: typos, flake8, mypy, pylint

fix(group): fix group inheritance
  pcvs/testing/tedesc.py
Due: typos, flake8, mypy, pylint

fix(plugin): fix plugin import from config folder
  pcvs/config/plugin/mpc.py
  pcvs/helpers/criterion.py
  pcvs/helpers/storage.py
  pcvs/io.py
  pcvs/plugins/__init__.py
Due: typos, flake8, mypy, pylint

fix(cli run): re-add LABEL:path test description
  pcvs/cli/cli_run.py
Due: typos, flake8, mypy, pylint

fix(formatting): update black to new version
  pcvs/converter/yaml_converter.py
  pcvs/testing/testfile.py
Due: typos, flake8, mypy, pylint

fix(precommit): fix precommit
  .pre-commit-config.yaml
Due: typos

fix(doc): dissmiss sphinx_autodoc_typehints.forward_reference
  docs/source/conf.py
Due: typos, flake8

fix(scheduler): add more detailed error message
  pcvs/orchestration/manager.py
Due: typos, flake8, mypy, pylint

fix(check): fix pcvs check command
  pcvs/backend/configfile.py
  pcvs/backend/utilities.py
  pcvs/cli/cli_utilities.py
  pcvs/io.py
Due: typos, flake8, mypy, pylint

fix(pygit2): fix pygit2 version requirement
  pyproject.toml
Due: typos

fix pygit2 version in utils script
  .gitlab/ci/ci.yml
  .gitlab/ci/run.yml
  utils/setup_ci_env
Due: typos
